---
http_interactions:
- request:
    method: post
    uri: http://api.pusherapp.com/apps/xxx/events?auth_key=xxx&auth_signature=ae408fb17a4bf672a2f2b6ad8271142ec46b915d9951643861963c3795246847&auth_timestamp=1360880252&auth_version=1.0&body_md5=0be55a65827d0d2684e0d65e149d1276
    body:
      encoding: US-ASCII
      string: '{"name":"InitializeWidget","channels":["csrs-0"],"data":"{}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: US-ASCII
      string: "{}"
  recorded_at: Thu, 14 Feb 2013 22:17:32 GMT
- request:
    method: post
    uri: http://api.pusherapp.com/apps/xxx/events?auth_key=xxx&auth_signature=e20e72419e69fa7a1c20ffb33aea10499aebb125219dc955f26325abb6b4c9c9&auth_timestamp=1360880252&auth_version=1.0&body_md5=2dfb16ebf87e71b3d1253bcd7ecc2e74
    body:
      encoding: US-ASCII
      string: '{"name":"statusChange","channels":["csrs-0"],"data":"{\"status\":\"available\",\"timestamp\":1360880252609}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: US-ASCII
      string: "{}"
  recorded_at: Thu, 14 Feb 2013 22:17:32 GMT
[...]
- request:
    method: post
    uri: http://api.pusherapp.com/apps/86841/events?auth_key=33fad0ed456d61e85f2a&auth_signature=cb1a69987219454cd4b65626f0fe955df1da2964fff883bc1767dc710e5cb431&auth_timestamp=1409009732&auth_version=1.0&body_md5=3c50465ad338f09b21f8680413432fef
    body:
      encoding: UTF-8
      string: '{"name":"statusChange","channels":["csrs-64"],"data":"{\"status\":\"available\",\"timestamp\":1409009732405}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 25 Aug 2014 23:35:32 GMT
[...]
- request:
    method: post
    uri: http://api.pusherapp.com/apps/86841/events?auth_key=33fad0ed456d61e85f2a&auth_signature=0a48005d72375c9150bdaf94be6d8c36fbd975194deaf926a6ba43992fb86390&auth_timestamp=1409009733&auth_version=1.0&body_md5=f3c7780dbb533787385afae928069f1f
    body:
      encoding: UTF-8
      string: '{"name":"statusChange","channels":["csrs-67"],"data":"{\"status\":\"on_a_call\",\"timestamp\":1409009733064}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 25 Aug 2014 23:35:33 GMT
recorded_with: VCR 2.9.2
